<ion-content [fullscreen]="true" class="background">
  <ion-text class="header-title">
    <ion-icon name="chevron-back-sharp" class="header-icon" (click)="goToHome()"></ion-icon>
    <h2>My Tasks</h2>
  </ion-text>

  <!-- Mostrar las tarjetas si hay tareas -->
  <ion-card class="ourList-card" *ngIf="hasTasks">
    <ion-card-content>
      <ion-icon class="iconoTask" name="bookmark"></ion-icon>
      Finish prog. mobile app
      <ion-icon class="arrowOurList" name="caret-forward-sharp"></ion-icon>
    </ion-card-content>
  </ion-card>

  <!-- Mostrar imagen y mensaje si no hay tareas -->
  <div *ngIf="!hasTasks" class="no-tasks-message">
    <img src="../../../assets/img/error.png" alt=" No tasks available" class="no-tasks-image">
    <p>No tasks available. Please add some tasks!</p>
  </div>

</ion-content>