<ion-content [fullscreen]="true" class="background">
  <!-- Encabezado con botón de retroceso -->
  <ion-text class="header-title">
    <ion-icon name="chevron-back-sharp" class="header-icon" (click)="goBack()">
    </ion-icon>
    <h2>Detail Task</h2>
  </ion-text>

  <!-- Título de la tarea -->
  <div class="task-title-container">
    <h1 class="task-title">{{ task.title }}</h1>
  </div>

  <!-- Información adicional -->
  <div class="task-info-container">
    <div class="info-row">
      <div>
        <p class="label">Category</p>
        <p class="category-by">{{ getCategoryName(task.category_id) }}</p>
      </div>

      <div>
        <p class="label">DATE ADDED</p>
        <p class="date">{{ task.creation_date | date: 'd MMMM y' }}</p>
      </div>
    </div>
  </div>

  <!-- Detalles de la tarea -->
  <div class="task-details">
    <p class="label">DETAILS</p>
    <p>{{ task.description }}</p>
  </div>

  <!-- Botón para marcar como completado o pendiente -->
  <div class="button-container">
    <ion-button expand="block" shape="round" class="toggleCompleted"
      [ngStyle]="{ '--ion-color-primary': task.status === 2 ? '#ff6d00' : '#00897B' }" (click)="toggleTaskStatus()">
      <ion-icon [name]="task.status === 2 ? 'arrow-undo-circle-outline' : 'checkmark-circle-outline'">
      </ion-icon>
      {{ task.status === 2 ? 'Mark Incomplete' : 'Mark Complete' }}
    </ion-button>
  </div>
</ion-content>