<ion-content [fullscreen]="true" class="background">

  <ion-text class="header-title">
    <ion-icon name="chevron-back-sharp" class="header-icon" (click)="goToProfile()"></ion-icon>
    <h2>Edit Username</h2>
  </ion-text>

  <div class="seccion-form">
    <form class="miperfil">

      <ion-item class="ion-margin-horizontal ion-color">
        <ion-icon aria-hidden="true" name="people-outline" slot="start"></ion-icon>
        <ion-input placeholder="Maximo 15 caracteres" label="Nombre Usuario" label-placement="floating" maxlength="15"
          color="dark" name="newUsername" [(ngModel)]="newUsername"></ion-input>
      </ion-item>

      <div class="ion-text-center ion-margin">
        <ion-button expand="block" class="ion-margin boton-inicio txt-marcado" (click)="successfulEdit()">
          Confirmar
          <ion-icon slot="end" name="checkmark-done-outline"></ion-icon>
        </ion-button>
        <ion-button expand="block" class="ion-margin boton-inicio txt-marcado" (click)="goToProfile()">
          Cancelar
          <ion-icon slot="end" name="close-outline"></ion-icon>
        </ion-button>
      </div>
    </form>
  </div>

</ion-content>