<ion-content [fullscreen]="true" class="background">

  <ion-text class="header-title">
    <ion-icon name="chevron-back-sharp" class="header-icon" (click)="goToProfilePage()"></ion-icon>
    <h2>Edit Password</h2>
  </ion-text>

  <div class="section-form">
    <form action="" class="">

      <ion-item class="ion-margin-horizontal ion-color" style="color: #ffffff;">
        <ion-icon aria-hidden="true" name="key-outline" slot="start"></ion-icon>
        <ion-input [type]="passwordVisibleOld ? 'text' : 'password'" label="Current Password" label-placement="floating" fill="clear" color="dark" maxlength="12"
          [(ngModel)]="validateOldPassword" name="validateOldPassword"></ion-input>
        <ion-button fill="clear" slot="end" (click)="togglePasswordVisibility('old')">
          <ion-icon style="color: white;" [name]="passwordVisibleOld ? 'eye' : 'eye-off'"></ion-icon>
        </ion-button>
      </ion-item>
      
      <ion-item class="ion-margin-horizontal ion-color" style="color: #ffffff;">
        <ion-icon slot="start" name="lock-open-outline"></ion-icon>
        <ion-input [type]="passwordVisibleNew ? 'text' : 'password'" label="New Password" label-placement="floating" fill="clear" color="dark" maxlength="12"
          [(ngModel)]="newPassword" name="newPassword"></ion-input>
        <ion-button fill="clear" slot="end" (click)="togglePasswordVisibility('new')">
          <ion-icon style="color: white;" [name]="passwordVisibleNew ? 'eye' : 'eye-off'"></ion-icon>
        </ion-button>
      </ion-item>
      
      <ion-item class="ion-margin-horizontal ion-color" style="color: #ffffff;">
        <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
        <ion-input [type]="passwordVisibleConfirm ? 'text' : 'password'" label="Confirm Password" label-placement="floating" fill="clear" color="dark" maxlength="12"
          [(ngModel)]="confirmPassword" name="confirmPassword"></ion-input>
        <ion-button fill="clear" slot="end" (click)="togglePasswordVisibility('confirm')">
          <ion-icon style="color: white;" [name]="passwordVisibleConfirm ? 'eye' : 'eye-off'"></ion-icon>
        </ion-button>
      </ion-item>
      

    </form>

    <div class="ion-text-center ion-margin">
      <ion-button expand="block" class="ion-margin start-button marked-text" (click)="goToProfile()">
        Confirm
        <ion-icon slot="end" name="checkmark-done-outline"></ion-icon>
      </ion-button>

      <ion-button expand="block" class="ion-margin start-button marked-text" (click)="goToProfilePage()">
        Cancel
        <ion-icon slot="end" name="close-outline"></ion-icon>
      </ion-button>
    </div>

  </div>

</ion-content>