<ion-content class="background">

  <div class="header-title">
    <ion-icon name="chevron-back-sharp" class="header-icon" (click)="goToAdmin()"></ion-icon>
    <h2>Users List</h2>
  </div>

  <div class="search-container">
    <ion-input animated="true" placeholder="Enter Username" class="ion-margin-top search-bar" type="tel" maxlength="9"
      [(ngModel)]="searchUsername">
      <ion-button fill="clear" slot="end" (click)="searchUser(searchUsername)">
        <ion-icon name="search" class="search-icon"></ion-icon>
      </ion-button>
    </ion-input>
  </div>

  <div class="users-container">
    <ion-text *ngIf="errorUsername" class="ion-text-center">NO RESULTS</ion-text>

    <!-- Lista de usuarios usando *ngFor -->
    <mat-card *ngFor="let user of users" class="user-container">
      <mat-card-content>
        <p>ID: {{ user.id_user }}</p>
        <p>Username: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Password: {{ user.password && user.password.length > 0 ? '*'.repeat(user.password.length) : '' }}</p>
        <p>Role: {{ user.id_role_fk === 1 ? 'Admin' : user.id_role_fk === 2 ? 'User' : '' }}</p>
      </mat-card-content>
    </mat-card>
  </div>

</ion-content>