<ion-content [fullscreen]="true" class="background">

  <ion-text class="header-title">
    <ion-icon name="chevron-back-sharp" class="header-icon" (click)="goToForgotPassword()"></ion-icon>
    <h2>Reset Password</h2>
  </ion-text>

  <div class="section-form">
    <form action="" class="">

      <ion-item class="ion-margin-horizontal ion-color" style="color: #ffffff;">
        <ion-icon slot="start" name="lock-open-outline"></ion-icon>
        <ion-input type="password" label="New Password" label-placement="floating" fill="clear" color="dark"
          maxlength="12" [(ngModel)]="newPassword" name="newPassword"></ion-input>
      </ion-item>

      <ion-item class="ion-margin-horizontal ion-color" style="color: #ffffff;">
        <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
        <ion-input type="password" label="Confirm Password" label-placement="floating" fill="clear" color="dark"
          maxlength="12" [(ngModel)]="confirmPassword" name="confirmPassword"></ion-input>
      </ion-item>

    </form>

    <div class="ion-text-center ion-margin">
      <ion-button expand="block" class="ion-margin start-button marked-text" (click)="resetPassword()">
        Confirm
        <ion-icon slot="end" name="checkmark-done-outline"></ion-icon>
      </ion-button>

      <ion-button expand="block" class="ion-margin start-button marked-text" (click)="goToForgotPassword()">
        Cancel
        <ion-icon slot="end" name="close-outline"></ion-icon>
      </ion-button>
    </div>

  </div>

</ion-content>