<ion-content [fullscreen]="true" class="background">

  <div class="header-container">
    <ion-text class="header-title">
      <h2 style="margin-top: -30px;">Profile</h2>
    </ion-text>
    <ion-button fill="clear" *ngIf="id_role_fk === 1" class="settings-icon" (click)="openSettings()">
      <ion-icon style="margin-top: 25px;" name="settings-outline" size="large"></ion-icon>
    </ion-button>
  </div>

  <div class="ion-no-margin">
    <div class="img-logo" style="position: relative;">
      <img class="avatar-icon" *ngIf="image" [src]="image" alt="Image">
      <img class="avatar-icon" *ngIf="!image" src="../../../assets/img/avatar.jpg" alt="Avatar">
      <ion-button fill="clear" class="editar-icon" (click)="takePhoto()">
        <ion-icon name="camera" size="large"></ion-icon>
      </ion-button>
    </div>
  </div>

  <div class="seccion-form">
    <form action="">
      <ion-item class="ion-margin-horizontal ion-color">
        <ion-icon aria-hidden="true" name="person-outline" slot="start"></ion-icon>
        <ion-input label="Username:" fill="clear" color="dark" value="{{username}}" readonly></ion-input>
      </ion-item>

      <ion-item class="ion-margin-horizontal ion-color">
        <ion-icon aria-hidden="true" name="mail-outline" slot="start"></ion-icon>
        <ion-input label="Email:" fill="clear" color="dark" value="{{email}}" readonly></ion-input>
      </ion-item>

      <div class="ion-text-center ion-margin">
        <ion-button class="boton-inicio txt-marcado" style="display: inline-block; width: 45%;"
          (click)="goToEditProfile()">
          Edit Info
        </ion-button>
        <ion-button class="boton-inicio txt-marcado" style="display: inline-block; width: 45%;"
          (click)="changePassword()">
          Edit Password
        </ion-button>
      </div>
    </form>
  </div>

  <!-- Logout button -->
  <div class="ion-text-center ion-margin">
    <ion-button style="margin-top: 300px;" class="boton-logout txt-marcado">
      Logout
    </ion-button>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar class="transparent-navbar">
    <ion-buttons class="evenly-spaced-buttons" slot="start">

      <ion-button [routerLink]="['/tasks']">
        <div class="icon-text-container">
          <ion-icon slot="icon-only" name="list-outline"></ion-icon>
          <span class="button-text">Tasks</span>
        </div>
      </ion-button>

      <ion-button [routerLink]="['/completed-tasks']">
        <div class="icon-text-container">
          <ion-icon slot="icon-only" name="checkmark-done-outline"></ion-icon>
          <span class="button-text">Completed</span>
        </div>
      </ion-button>

      <ion-button [routerLink]="['/add-task']">
        <div class="icon-text-container">
          <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
          <span class="button-text">Add Task</span>
        </div>
      </ion-button>

      <ion-button [routerLink]="['/profile']">
        <div class="icon-text-container">
          <ion-icon slot="icon-only" name="person-outline"></ion-icon>
          <span class="button-text">Profile</span>
        </div>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-footer>