<ion-header [translucent]="true">
  <ion-toolbar class="background">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="color">beLoved</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">

  <div class="header-container">
    <ion-text class="header-title">
      <h2>Profile</h2>
    </ion-text>
    <ion-button fill="clear" *ngIf="id_role_fk === 1" class="settings-icon" (click)="openSettings()">
      <ion-icon name="settings-outline" size="large"></ion-icon>
    </ion-button>
  </div>

  <div class="ion-no-margin">
    <div class="img-logo" style="position: relative;">
      <img class="avatar-icon" *ngIf="image" [src]="image" alt="Image">
      <img class="avatar-icon" *ngIf="!image" src="../../../assets/img/avatar.jpg" alt="Avatar">
      <ion-button fill="clear" class="editar-icon" (click)="takePhoto()">
        <ion-icon name="camera" size="large"></ion-icon>
      </ion-button>
    </div>
  </div>

  <div class="seccion-form">
    <form action="">
      <ion-item class="ion-margin-horizontal ion-color">
        <ion-icon aria-hidden="true" name="person-outline" slot="start"></ion-icon>
        <ion-input label="Username:" fill="clear" color="dark" value="{{username}}" readonly></ion-input>
      </ion-item>

      <ion-item class="ion-margin-horizontal ion-color">
        <ion-icon aria-hidden="true" name="mail-outline" slot="start"></ion-icon>
        <ion-input label="Email:" fill="clear" color="dark" value="{{email}}" readonly></ion-input>
      </ion-item>

      <div class="ion-text-center ion-margin">
        <ion-button class="boton-inicio txt-marcado" style="display: inline-block; width: 45%;"
          (click)="goToEditProfile()">
          Edit Username
          <ion-icon slot="end" name="build"></ion-icon>
        </ion-button>
        <ion-button class="boton-inicio txt-marcado" style="display: inline-block; width: 45%;"
          (click)="changePassword()">
          Edit Password
          <ion-icon slot="end" name="key-outline"></ion-icon>
        </ion-button>
      </div>
    </form>
  </div>

</ion-content>