<ion-content [fullscreen]="true" class="background">
  <div class="header-title">
    <ion-icon name="chevron-back-sharp" class="header-icon" (click)="goToLogin()"></ion-icon>
    <h2>Forgot Password</h2>
  </div>

  <div class="form-section" *ngIf="!isCodeSent">
    <form action="" #form="ngForm">
      <ion-item class="ion-margin-horizontal ion-color">
        <ion-icon aria-hidden="true" name="mail-outline" slot="start"></ion-icon>
        <ion-input placeholder="Enter a valid email" label="Email Address" label-placement="floating"
          class="remove-line" name="email" [(ngModel)]="email" required email></ion-input>

        <ion-note *ngIf="email.length > 0 && !form.controls['email']?.valid" color="danger">Invalid email
          address.</ion-note>
      </ion-item>

      <div class="ion-text-center">
        <ion-button class="ion-margin-top ion-margin-bottom start-button text-highlight" shape="block"
          (click)="sendCode()">Send Code</ion-button>
      </div>
    </form>
  </div>

  <div class="form-section" *ngIf="isCodeSent">
    <form action="" #codeForm="ngForm">
      <ion-item class="ion-margin-horizontal ion-color">
        <ion-icon aria-hidden="true" name="key-outline" slot="start"></ion-icon>
        <ion-input placeholder="Enter the code" label="Recovery Code" label-placement="floating" class="remove-line"
          name="code" [(ngModel)]="enteredCode" required></ion-input>
      </ion-item>

      <div class="ion-text-center">
        <ion-button class="ion-margin-top ion-margin-bottom start-button text-highlight" shape="block"
          (click)="verifyCode()">Verify Code</ion-button>
      </div>
    </form>
  </div>
</ion-content>