.background {
    --background: linear-gradient(to bottom, #b39ddb, #9575cd);
}

.form-section {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    height: 68vh;
}

.ion-color {
    color: white;
}

.start-button {
    margin-top: auto;
    margin-bottom: 40px;
    --ion-color-primary: #9575cd;
    color: #fff;
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: -120px;
    left: 0;
    right: 0;
}


.text-highlight {
    font-weight: bold;
}

ion-note[color="danger"] {
    color: red;
}

.header-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.header-title h2 {
    margin: 0;
    font-weight: bold;
    color: #ffffff;
    font-size: 32px;
    text-align: left;
}

.header-icon {
    margin-right: 10px;
    cursor: pointer;
    flex-shrink: 0;
    font-size: 32px;
    color: #ffffff;
}