.background {
    --background: linear-gradient(to right, #b39ddb, #9575cd);
}

.header-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    position: absolute;
    top: 70px;
    left: 20px;
}

.header-title h2 {
    margin: 0;
    font-weight: bold;
    color: #ffffff;
    font-size: 32px;
    text-align: left;
}

.date-group h3 {
    margin-top: 15px;
    margin-left: 20px;
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
}

.ourList-card {
    margin: -10px auto;
    /* Centra la tarjeta horizontalmente */
    max-width: 90%;
    max-height: 55px;
    position: relative;
    border-radius: 8px;
    background-color: #ffffff;
    color: #616161;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Sombra ligera */
    display: flex;
    align-items: center;
    /* Centra verticalmente el contenido */
}

mat-card-content {
    display: flex;
    align-items: center;
    /* Centrar verticalmente el contenido */
    justify-content: space-between;
    /* Separar elementos con espacio entre ellos */
    width: 100%;
    /* Asegura que el contenido ocupe todo el ancho */
}

.iconoTask {
    font-size: 24px;
    font-weight: 500;
    margin-right: 10px;
    /* Espacio entre el ícono y el texto */
    margin-bottom: 0;
    /* Ajusta el margen inferior */
}

.arrowOurList {
    font-size: 24px;
    margin-left: auto;
    /* Empuja el ícono al extremo derecho */
}

.errortask {
    text-align: center;
    /* Alinea el texto horizontalmente */
    display: block;
    /* Asegura que el contenedor se comporte como un bloque */
    font-size: 18px;
    font-weight: bold;
}


.no-tasks-message {
    margin-top: -200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* Para ocupar todo el espacio del contenedor */
    text-align: center;
    /* Centrar el texto */
}

.no-tasks-image {
    max-width: 220px;
    /* Ajusta el tamaño de la imagen según lo que necesites */
    margin-bottom: 16px;
    /* Espacio debajo de la imagen */
}

.no-tasks-message p {
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Para ocupar todo el espacio del contenedor */
    text-align: center;
    /* Centrar el texto */
}

.search-bar {
    color: white;
    margin-top: 70px;
    margin-bottom: 15px;
    width: calc(90% - 40px);
    border-radius: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid #ffffff;
}

.search-icon {
    color: white;
    position: absolute;
    font-size: 24px;
}

.fab-button {
    position: fixed;
    bottom: 20px;
    right: 10px;
    --background: #9575cd;
    --color: #fff;
}