<ion-header [translucent]="true">
  <ion-toolbar class="background">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="color">beLoved</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <!-- Header -->
  <div class="header-title">
    <h2>Completed Tasks</h2>
  </div>

  <!-- Barra de búsqueda -->
  <div class="search-container">
    <ion-input animated="true" placeholder="Search Completed Task Title" class="ion-margin-top search-bar" type="text"
      [(ngModel)]="searchTask">
      <ion-button fill="clear" slot="end" (click)="searchTasks(searchTask)">
        <ion-icon name="search" class="search-icon"></ion-icon>
      </ion-button>
    </ion-input>
  </div>

  <!-- Mostrar tareas agrupadas por fecha -->
  <div *ngFor="let date of taskDates" class="date-group">
    <h3>{{ date }}</h3> <!-- Encabezado con la fecha en formato yyyy-MM-dd -->
  
    <div class="tasks-container">
      <ng-container *ngIf="groupedTasks[date] && groupedTasks[date].length > 0">
        <!-- Tarjetas de tareas con estilo condicional -->
        <mat-card class="ourList-card" *ngFor="let task of groupedTasks[date]" (click)="goToDetailTask(task.id_task)"
          [ngStyle]="{
            'border-left': task.status === 2 ? '8px solid #00897B' : '8px solid #ff6d00'
          }">
          <mat-card-content>
            <ion-icon class="iconoTask" name="bookmark"></ion-icon>
            <span>{{ task.title }}</span>
            <ion-icon class="arrowOurList" name="caret-forward-sharp"></ion-icon>
          </mat-card-content>
        </mat-card>
      </ng-container>
    </div>
  </div>
  

  <!-- Mensaje si no hay tareas completadas -->
  <div *ngIf="!hasTasksCompleted" class="no-tasks-message">
    <img src="../../../assets/img/error.png" alt="No completed tasks available" class="no-tasks-image">
    <p>No completed tasks available. Please complete some tasks!</p>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="fab-button" (click)="goToAddTask()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>