<ion-header [translucent]="true">
  <ion-toolbar class="background">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="color">beLoved</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <ion-text class="header-title">
    <h2>Complete Tasks</h2>
  </ion-text>

  <!-- Mostrar las tarjetas si hay tareas -->
  <ion-card class="ourList-card" *ngIf="hasTasksCompleted">
    <ion-card-content>
      <ion-icon class="iconoTask" name="bookmark"></ion-icon>
      Finish prog. mobile app
      <ion-icon class="arrowOurList" name="caret-forward-sharp"></ion-icon>
    </ion-card-content>
  </ion-card>

  <!-- Mostrar imagen y mensaje si no hay tareas -->
  <div *ngIf="!hasTasksCompleted" class="no-tasks-message">
    <img src="../../../assets/img/error.png" alt=" No tasks available" class="no-tasks-image">
    <p>No completed tasks!</p>
  </div>

</ion-content>