<ion-content [fullscreen]="true" class="background">

  <div class="header-title">
    <ion-icon name="chevron-back-sharp" class="header-icon" (click)="goToStart()"></ion-icon>
    <h2>Log In</h2>
  </div>

  <div class="form-section">
    <form action="" #form="ngForm">
      <ion-item class="ion-margin-horizontal ion-color">
        <ion-icon aria-hidden="true" name="people-outline" slot="start"></ion-icon>
        <ion-input placeholder="Enter Username" label="Username" label-placement="floating" maxlength="15" color="dark"
          name="username" [(ngModel)]="username" required></ion-input>
        <ion-note *ngIf="username.length > 0 && username.length < 4" color="danger">Enter a valid Username.</ion-note>
      </ion-item>

      <ion-item class="ion-margin-horizontal ion-color">
        <ion-icon aria-hidden="true" name="lock-closed-outline" slot="start"></ion-icon>
        <ion-input type="password" placeholder="Enter Password" label="Password" label-placement="floating" color="dark"
          name="password" maxlength="12" [(ngModel)]="password" required></ion-input>
        <ion-note *ngIf="password.length > 0 && password.length < 8" color="danger">Enter a valid Password.</ion-note>
      </ion-item>

      <div class="ion-text-center">
        <ion-button class="ion-margin-top ion-margin-bottom start-button text-highlight" shape="block"
          (click)="goToPage()">Log In</ion-button>
      </div>
      <div class="ion-text-center">
        <a class="anchor-login" (click)="goToRegister()">Don't have an account? Register</a>
      </div>
    </form>
  </div>
</ion-content>