<ion-content [fullscreen]="true" class="background">

  <div class="header-title">
    <ion-icon name="chevron-back-sharp" class="header-icon" (click)="goToProfile()"></ion-icon>
    <h2>Administration Panel</h2>
  </div>

  <ion-card (click)="goToUser()" class="ourList-card">
    <ion-card-content>
      <ion-icon class="iconoTask" name="person"></ion-icon>
      Users
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToCategory()" class="ourList-card category-card">
    <ion-card-content>
      <ion-icon class="iconoTask" name="albums"></ion-icon>
      Category
    </ion-card-content>
  </ion-card>

</ion-content>