<ion-content [fullscreen]="true" class="background">

  <div class="header-container">
    <ion-text class="header-title">
      <ion-icon name="chevron-back-sharp" class="header-icon" (click)="goToDetailUsers(id_user)"></ion-icon>
      <h2>Edit User</h2>
    </ion-text>
  </div>

  <div class="ion-no-margin">
    <div class="img-logo" style="position: relative; text-align: center;">
      <img class="avatar-icon" *ngIf="image" [src]="image" alt="User Image">
      <img class="avatar-icon" *ngIf="!image" src="../../../assets/img/avatar.jpg" alt="Avatar">
    </div>
  </div>

  <div class="seccion-form">
    <form (ngSubmit)="validateAndSaveUser()">
      <ion-item class="ion-margin-horizontal ion-color">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label position="stacked">Username</ion-label>
        <ion-input [(ngModel)]="username" name="username" fill="clear" color="dark" readonly></ion-input>
      </ion-item>

      <ion-item class="ion-margin-horizontal ion-color">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-label position="stacked">Email</ion-label>
        <ion-input [(ngModel)]="email" name="email" fill="clear" color="dark" type="email" readonly></ion-input>
      </ion-item>

      <ion-item class="ion-margin-horizontal ion-color">
        <ion-icon name="key-outline" slot="start"></ion-icon>
        <ion-label position="stacked">Password</ion-label>
        <ion-input [(ngModel)]="password" name="password" fill="clear" color="dark" type="password"
          readonly></ion-input>
      </ion-item>

      <ion-item class="ion-margin-horizontal ion-color">
        <ion-icon name="id-card-outline" slot="start"></ion-icon>
        <ion-label position="stacked">Role</ion-label>
        <ion-select [(ngModel)]="id_role_fk" name="role" fill="outline"
          [placeholder]="id_role_fk === 1 ? 'Admin' : id_role_fk === 2 ? 'User' : id_role_fk === 3 ? 'Banned' : 'Select Role'"
          style="margin-top: 5px;">
          <ion-select-option value="1">Admin</ion-select-option>
          <ion-select-option value="2">User</ion-select-option>
          <ion-select-option value="3">Banned</ion-select-option>
        </ion-select>

      </ion-item>

      <div class="ion-text-center ion-margin">
        <ion-button type="submit" expand="block" class="boton-inicio txt-marcado">
          Save Changes
          <ion-icon slot="end" name="save-outline"></ion-icon>
        </ion-button>
      </div>
    </form>
  </div>

</ion-content>