<ion-content [fullscreen]="true" class="background">

  <div class="header-container">
    <ion-text class="header-title">
      <ion-icon name="chevron-back-sharp" class="header-icon" (click)="goToAdminUsers()"></ion-icon>
      <h2>User Details</h2>
    </ion-text>
  </div>

  <div class="ion-no-margin">
    <div class="img-logo" style="position: relative; text-align: center;">
      <img class="avatar-icon" *ngIf="image" [src]="image" alt="User Image">
      <img class="avatar-icon" *ngIf="!image" src="../../../assets/img/avatar.jpg" alt="Avatar">
    </div>
  </div>

  <div class="seccion-form">
    <form action="">
      <ion-item class="ion-margin-horizontal ion-color">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label>Username: </ion-label>
        <ion-input fill="clear" color="dark" value="{{ user?.username }}" readonly></ion-input>
      </ion-item>

      <ion-item class="ion-margin-horizontal ion-color">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-label>Email: </ion-label>
        <ion-input fill="clear" color="dark" value="{{ user?.email }}" readonly></ion-input>
      </ion-item>

      <ion-item class="ion-margin-horizontal ion-color">
        <ion-icon name="key-outline" slot="start"></ion-icon>
        <ion-label>Password: </ion-label>
        <ion-input fill="clear" color="dark" [value]="user?.password ? '*'.repeat(user.password.length) : ''" readonly>
        </ion-input>
      </ion-item>

      <ion-item class="ion-margin-horizontal ion-color">
        <ion-icon name="id-card-outline" slot="start"></ion-icon>
        <ion-label>Role: </ion-label>
        <ion-input fill="clear" color="dark"
          [value]="user?.id_role_fk === 1 ? 'Admin' : user?.id_role_fk === 2 ? 'User' : user?.id_role_fk === 3 ? 'Banned' : ''"
          readonly>
        </ion-input>
      </ion-item>

      <div class="ion-text-center ion-margin">

        <ion-button *ngIf="user?.id_user" class="boton-inicio txt-marcado" style="width: 45%;"
          (click)="goToEditUser(user.id_user)">
          Edit User
          <ion-icon slot="end" name="pencil-outline"></ion-icon>
        </ion-button>

      </div>
    </form>
  </div>

</ion-content>