.background {
    --background: linear-gradient(to right, #b39ddb, #9575cd);
}

.header-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    position: absolute;
    top: 70px;
    left: 20px;
}

.header-title h2 {
    margin: 0;
    font-weight: bold;
    color: #ffffff;
    font-size: 32px;
    text-align: left;
}

.ourList-card {
    margin-top: 80px;
    position: relative;
    border-left: 8px solid #ff6d00;
    border-radius: 8px;
    background-color: #e0e0e0;
    color: #616161;
}

.iconoTask {
    font-size: 24px;
    font-weight: 500;
    margin-right: 5px;
    margin-bottom: 5px;
}

ion-card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arrowOurList {
    font-size: 24px;
    margin-left: auto;
}

.motivational-quote {
    position: fixed;
    bottom: 20px;
    left: 0;
    max-width: 400px;
    text-align: center;
    text-justify: inter-word;
    font-size: 14px;
    opacity: 0.8;
    color: #616161;
    padding: 20px;
}

.fab-button {
    position: fixed;
    bottom: 20px;
    right: 10px;
    --background: #9575cd;
    --color: #fff;
}