<ion-header [translucent]="true">
  <ion-toolbar class="background">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="color">beLoved</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <ion-text class="header-title">
    <h2>Today</h2>
  </ion-text>

  <ion-card class="ourList-card">
    <ion-card-content>
      <ion-icon class="iconoTask" name="bookmark"></ion-icon>
      Finish prog. mobile app
      <ion-icon class="arrowOurList" name="caret-forward-sharp"></ion-icon>
    </ion-card-content>
  </ion-card>


  <p class="motivational-quote">Believe in yourself, and all that you are. Know that there is something inside you that
    is greater than any obstacle.</p>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="fab-button" (click)="goToAddTask()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>