<ion-content [fullscreen]="true" class="background">
  <div class="img-logo">
    <img src="../../../assets/icon/logo.png" alt="App Logo">
  </div>

  <ion-text class="ion-text-center">
    <h2 class="color title">beLoved</h2>
  </ion-text>

  <div class="form-section">
    <div class="ion-text-center">
      <ion-button class="ion-margin-top ion-margin-bottom start-button text-highlight" shape="block"
        (click)="goToRegister()">Get Started</ion-button>
    </div>
    <div class="ion-text-center">
      <a class="anchor-login" (click)="goToLogin()">Already have an account? Log in</a>
    </div>
  </div>
</ion-content>